* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background: url(assets/bg-mobile.png) no-repeat top center/cover;
  background-size: cover;
}

.layout {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.max-width-container {
  flex: 1;
  width: 100%;
  max-width: 406px;
  margin-top: 6.4rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  color: #fafdf6;
}

.avatar {
  width: 9.6rem;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border 0.2s ease;
}

.avatar:hover {
  border-color: #fafdf6;
}

.subtittle {
  font-size: 1.4rem;
  text-decoration: underline;
}

.tittle {
  font-size: 2rem;
}

.card-butons {
  text-decoration: none;
}

.links-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.card-buttons {
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2.6rem;
  background-color: #fafdf6;
  color: #3e442b;
  border-radius: 0.8rem;
  border: 2px solid transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  min-width: 17rem;
  transition: background 0.5s ease;
}

.card-buttons:hover {
  color: #e5e5e5;
  fill: #e5e5e5;
  background: none;
  border-color: #e5e5e5;
}

.links-container li {
  display: flex;
  position: relative;
}

li a span {
  margin-left: 0.4rem;
  font-weight: bold;
  color: #3e442b;
  text-decoration: underline;
}

ion-icon {
  font-size: 3.2rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.card-buttons svg {
  position: absolute;
  left: 1rem;
  width: 3.2rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #142921;
  color: #e5e5e573;
  text-align: center;
  font-size: 1.2rem;
  padding-block: 1.6rem;
}

footer a {
  color: #e5e5e5d0;
}

@media screen and (min-width: 640px) {
  body {
    background: url(assets/bg-web.jpg) no-repeat top center/cover;
  }
}

@media screen and (max-width: 390px) {
  .form-icon {
    display: none;
  }
}
